<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="#">Zimpia</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/about">About</a></li>
			<li><a href="/about">Login</a></li>
			<li><a href="/about">Register</a></li>
		</ul>
	  
	</div>
</nav>