<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>NEW AND IMPROVED</h1>
			<p>Zimpia Web API makes API Calls for existing mobile applications towards the Webhost
			<ol>
				<li>Preferences and Payment</li>
				<li>Products and Services</li>
				<li>Music and alot more</li>
			</ol>
			</p>

		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>